*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  /* text-decoration: none;
  list-style: none; */
  font-size: 14px;
}

:root{
  --success-btn: #41E75C;
  --success-text: #1BC937;

  --danger-btn: #FF2C2C;
  --danger-text: #C0B7B7;

  --neutral-btn: #D9D9D9;
  --black: #000;
}

@font-face {
  font-family: SF UI;
  src: url('../fonts/sf-ui/SFUIText-Light.woff');
}

body{
  width: 100vw;
  height: 100vh;
  font-family: "SF UI", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn{
  color: var(--black);
  background-color: var(--neutral-btn);
  border: 1px solid var(--neutral-btn);
  transition: all .5s;
  cursor: pointer;
}

.btn:hover{
  background: var(--black);
  color: var(--neutral-btn);
}

.success{
  background: var(--success-btn);
}

.danger{
  background: var(--danger-btn);
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.pause{
  padding: 5px 20px;
}

h1{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.game_timer{
  font-weight: 700;
  font-size: 16px;
}


main{
  height: calc(100vh - 180px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.start_screen{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--neutral-btn);
  padding: 20px;
}

.instructions ol{
  padding: 20px;
}

.instructions ol li:not(:last-child){
  margin-bottom: 40px;
  line-height: 20px;
}

.start{
  width: 100%;
  background: var(--black);
  padding: 15px;
  color: white;
  margin-top: 2rem;
}

.logo_container{
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pause_screen{
  width: 90%;
  max-width: 600px;
  display: none;
  align-items: center;
  justify-content: center;
  height: 348px;
  position: fixed;
  flex-direction: column;
  background: var(--neutral-btn);
}

.pause_screen div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem;
}

.pause_screen div:first-child{
  margin-top: 0;
}

.pause_screen div span{
  font-weight: 700;
}

.pause_screen button{
  background: var(--black);
  color: white;
  width: 200px;
  padding: 10px;
}

.resume_counter{
  width: 90%;
  max-width: 600px;
  display: none;
  align-items: center;
  justify-content: center;
  height: 348px;
  position: fixed;
  flex-direction: column;
  background: white;
}

.counter{
  font-size: 100px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

.selections{
  height: 110px;
  bottom: 0;
  padding: 30px 0;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.option{
  flex: 1 1 100px;
  width: 40px;
  padding: 10px 0;
  border: .5px solid #e4e4;
  margin: 5px;
  font-weight: 500;
  font-size: 16px;
}


.completed{
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  visibility: hidden;
}

.congrats{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.event{
  font-size: 17px;
  text-align: center;
  margin-top: .8rem;
  font-weight: 600;
}

.score_announcer{
  font-size: 17px;
  text-align: center;
  margin-top: 2rem;
}

.final_score{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: .5rem;
}

.play_again{
  max-width: 300px;
  padding: 10px 0;
  background: var(--black);
  color: white;
  text-transform: uppercase;
  width: 90%;
  margin-top: 3rem;
  cursor: pointer;
  transition: all;
}

.play_again:hover{
  background: rgba(0, 0, 0, .8);
}